:root {
    /* Light theme colors */
    --light_main_primary_midnight_blue: #1e1f26;
    --light_primary_indigo_ink: #283655;
    --light_main_secondary_blueberry: #4D648D;
    --light_secondary_periwinkle: #d0e1f9;
    --light_white: #ffffff;
    /* Dark theme colors default*/
    --dark_black: #000000;
    --dark_main_primary_ocean: #07575b;
    --dark_primary_grey: #111111;
    --dark_main_secondary_deep_aqua: #003B46;
    --dark_secondary_grey: #636363;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: calc(100%);
    background-color: var(--dark_black);
}

button {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

footer {
    width: 100%;
    position: relative;
    text-align: center;
    display: block;
    bottom: 0px;
}

.footer-bottom {
    width: 100%;
    background: var(--dark_primary_grey);
    padding: 40px 40px 20px;
    color: var(--dark_secondary_grey);
}

.footer-bottom a {
    text-decoration: none;
    display: inline-block;
    color: var(--dark_secondary_grey);
    font-size: 13px;
    margin: 0 20px;
    transition: all 0.3s ease;
}

.footer-bottom a:hover {
    color: var(--light_secondary_periwinkle);
}

.center-block {
    width: 150px;
    margin-right: auto;
    margin-left: auto;
}

/* .social {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: small;
    margin: 0 20px;
} */

.logo-container, .nav-links, .cart {
    display: flex;
}

.logo-container {
    flex: 0.5;
    margin-left: 25px;
    margin-top: 25px;
}

.icon-resize {
    width: 100px;
    height: auto;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: var(--dark_secondary_grey);
    font-size: 15px;
    text-decoration: none;
    position: absolute;
    -webkit-transition: opacity .6s linear;
    transition: opacity .6s linear;
    animation: drop;
    -webkit-transition: opacity .6s linear;
    transition: opacity .6s linear
}

.nav-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--dark_main_primary_ocean);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transition: -webkit-transform .6s cubic-bezier(.19, 1, .22, 1);
    transition: -webkit-transform .6s cubic-bezier(.19, 1, .22, 1);
    transition: transform .6s cubic-bezier(.19, 1, .22, 1);
    transition: transform .6s cubic-bezier(.19, 1, .22, 1), -webkit-transform .6s cubic-bezier(.19, 1, .22, 1);
    animation: drop;
}

.nav-link:hover:after {
    color: var(--dark_main_primary_ocean);
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    animation: drop;
}

.cart {
    flex: 0.5;
    justify-content: flex-end;
}

.burger {
    display: none;
}

.burger div {
    width: 35px;
    height: 2px;
    margin: 5px;
    background-color: var(--dark_secondary_grey);
    transition: all 0.3s ease;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 90vh;
    align-items: center;
}

.presentation-unavailable {
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction {
    flex: 1;
}

.introduction-unavailable {
    padding-top: 10%;
    text-align: center;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    color: var(--light_white);
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: var(--dark_secondary_grey);
}

.cta {
    padding: 50px 0px 0px 0px;
}

.cta-select {
    border: 2px solid var(--dark_main_primary_ocean);
    background: transparent;
    color: var(--dark_main_primary_ocean);
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.cta-add {
    background-color: var(--dark_main_primary_ocean);
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    margin: 30px 0px 0px 30px;
}

.cta-add-unavailable {
    background-color: var(--dark_main_primary_ocean);
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    margin: 30px 0px 0px 30px;
}

.cta-add-unavailable a {
    text-decoration: none;
    color: var(--light_white);
}

.cover {
    flex: 1;
    display: flex;
    height: 60vh;
}

.cover img {
    height: 100%;
    filter: drop-shadow(0px 5px 3px var(--dark_primary_grey));
    animation: drop 1.5s ease;
}

.color-strip {
    display: flex;
    height: 0.6vh;
    /*    animation: lift 1s ease;*/
}

.bluecolor {
    flex: 1;
    background: #00A2DF;
}

.yellowcolor {
    flex: 1;
    background: #FAD300;
}

.greencolor {
    flex: 1;
    background: #1A603A;
}

@keyframes lift {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media only screen and (max-width:1470px) {
    .nav-links {
        width: 110%;
    }
    .nav-link {
        position: unset;
    }
}

/*Tablet View*/

@media only screen and (max-width:1250px) {
    .nav-links {
        width: 130%;
    }
    .nav-link {
        position: unset;
    }
    .web-wrap-unavailable {
        background-image: url("img/Back_pattern.html");
        height: 100vh;
        background-position-x: 70vw;
        background-position-y: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .cart {
        margin-left: 10%;
    }
    .presentation {
        flex-direction: column;
    }
    .introduction {
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1 {
        font-size: 30px;
    }
    .intro-text p {
        font-size: 18px;
    }
    .cta {
        padding: 10px 0px 0px 0px;
    }
    .cover img {
        height: 80%;
    }
}

/*Mobile view*/

@media only screen and (max-width:950px) {
    .web-wrap {
        position: relative;
        overflow: hidden;
        height: 100%;
    }
    .web-wrap-unavailable {
        background-image: none !important;
    }
    .nav-link {
        color: var(--dark_secondary_grey);
        position: unset;
    }
    .dropdown {
        position: unset;
    }
    .dropdown a {
        text-decoration: none;
        color: var(--dark_secondary_grey);
    }
    .footer-bottom a {
        text-decoration: none;
        display: inline-block;
        color: var(--dark_secondary_grey);
        font-size: 10px;
        margin: 0 10px;
        transition: all 0.3s ease;
    }
    .extra {
        display: block;
        font-size: 10px;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 78.5%;
        width: 40%;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        opacity: 0.8;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        overflow-y: scroll;
        justify-content: space-evenly;
        z-index: 1;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-link:after {
        background: var(--dark_main_secondary_deep_aqua);
    }
    .burger {
        display: block;
        margin-left: 10%;
        cursor: pointer;
    }
    .presentation {
        flex-direction: column;
    }
    .introduction {
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1 {
        font-size: 30px;
    }
    .intro-text p {
        font-size: 18px;
    }
    .cta {
        padding: 10px 0px 0px 0px;
    }
    .cover img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 80%;
        z-index: -1;
    }
}

@media only screen and (max-width:450px) {
    .cover img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 60%;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.web-wrap-unavailable {
    background-image: url("img/Back_pattern.html");
    height: 100vh;
    background-position-x: 70vw;
    background-repeat: no-repeat;
    background-size: contain;
}

.meme_img {
    width: 200px;
    height: auto;
}

/* .dropdown {
    position: relative;
    display: inline-block;
} */

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--dark_primary_grey);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* .dropdown-menu a {
    display: block;
} */

/* .language-select:hover {
    background-color: var(--dark_main_secondary_deep_aqua);
} */

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    list-style: none;
    padding: 12px 16px;
    display: block;
    transition: all 1s ease;
}

.dropdown-menu li:hover {
    background-color: var(--dark_main_secondary_deep_aqua);
}

.dropdown-menu li a:hover {
    color: var(--light_white);
}

.dropdown a {
    text-decoration: none;
    color: var(--dark_secondary_grey);
    transition: all 0.3s ease;
}